.logo {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  fill: currentColor;overflow: hidden;
}

.user {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  height: fit-content;
}